/* footer styles */
.b-container {
	@extend %clearfix;
	position: relative;
	.google-map {
		overflow: hidden;
		height: 440px;
		@include media('<tablet') {
			height: auto;
		}
	}
	.map-responsive {
		overflow:hidden;
		padding-bottom:56.25%;
		position:relative;
		height:0;
		iframe {
			left:0;
			top:0;
			height:100%;
			width:100%;
			border: 0;
			position:absolute;
			pointer-events: none;
		}
	}

	/* social networks */
	.social-networks {
		text-align: right;
		@include media('<tablet') {
			text-align: center;
		}
		li {
			padding: 0 0 0 5px;
		}
		a {
			color: $white;
			display: block;
			@include square(25px);
			border-radius: 50%;
			border: 1px solid $white;
			text-align: center;
			span {
				@include v-align(inline-block, middle);
			}
			.icon-facebook {
				font-size: 14px;
				line-height: 16px;
			}
			&:hover {
				text-decoration: none;
				border-color: $mine-shaft;
				color: $mine-shaft;
			}
		}
	}
}

/* footer nav styles */
.footer-nav {
	padding: 39px 0;
	@extend %clearfix;
	background: $mine-shaft;
	@include media('<desktop') {
		padding: 15px 0 60px;
	}
	@include media('<tablet') {
		padding: 70px 0 15px;
	}
	[class^="col-"] {
		position: relative;
	}
	.logo {
		@include size(132px, auto);
		position: absolute;
		margin: -21px 0 0 -61px;
		left: 50%;
		top: 50%;
		@include media('<desktop') {
			margin: 20px 0 0 -61px;
		}
		@include media('<tablet') {
			top: -50px;
			margin: 0 0 0 -61px;
		}
		img {
			display: block;
			@include size(100%, auto);
		}
	}
}
.f-nav {
	text-transform: uppercase;
	font: 500 14px/16px 'Lora', Arial, helvetica, sans-serif;
	@include media('<widescreen') {
		font: 500 13px/16px 'Lora', Arial, helvetica, sans-serif;
	}
	.navbar-left, .navbar-right {
		@include media('<tablet') {
			float: none;
			overflow: hidden;
			text-align: center;
		}
	}
	.navbar-right {
		li {
			margin: 0 0 0 30px;
			@include media('<widescreen') {
				margin: 0 0 0 25px;
			}
			@include media('<desktop') {
				margin: 0 0 0 15px;
			}
			@include media('<tablet') {
				margin: 5px 0;
			}
			&:first-child {
				margin: 0;
				@include media('<tablet') {
					margin: 5px 0;
				}
			}
		}
	}
	li {
		margin: 0 30px 0 0;
		@include media('<widescreen') {
			margin: 0 25px 0 0;
		}
		@include media('<desktop') {
			margin: 0 15px 0 0;
		}
		@include media('<tablet') {
			margin: 5px 0;
		}
		a {
			color: $white;
			padding: 0;
			@include media('<tablet') {
				padding: 0 15px 0 25px;
			}
			&:hover {
				background: none;
			}
		}
	}
}
#footer {
	color: $white;
	overflow: hidden;
	padding: 13px 0;
	font: 400 16px/25px 'Lora', Arial, helvetica, sans-serif;
	@include media('<desktop') {
		font-size: 12px;
	}
	@include media('<tablet') {
		font-size: 11px;
		line-height: 16px;
	}
	.link {
		font-style: italic;
	}
	p {
		margin: 0;
		@include media('<tablet') {
			margin: 0 0 10px;
		}
		a {
			color: $white;
		}
	}
}

.go-top {
	right: 0;
	top: -89px;
	@include square(50px);
	position: absolute;
	border-radius: 3px 3px 0 0;
	background: $mine-shaft;
	text-align: center;
	color: $light-grayish;
	span {
		font-size: 20px;
		line-height: 50px;
	}
}